name: Pull Request to sub develop branch
on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Create Pull Request
      run: |
        echo ${{ secrets.TEST_TOKEN }} | gh auth login --hostname github.com --with-token
        gh auth status
        gh pr create --title "test title" --body "test body" --base sub/develop
