name: Pull Request to sub develop branch
on:
  workflow_dispatch:
  push:
    branches: [ develop ]

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v3